<h1>This is your selected article! It has the id <%= @article.id %> </h1>

<p>Title: <%= @article.title %></p>
<p> Description: <%= @article.description %></p>
<%= link_to "Back to the article list", articles_path%>
<br>
<%= link_to "edit", edit_article_path(@article)%>
